<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-fables {% if page.url contains 'wejangan' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/wejangan">Wejangan</a></li>
        <li class="nav-speeches {% if page.url contains 'self-reminder' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/self-reminder">Self-reminder</a></li>
        <li class="nav-fiction {% if page.url contains 'curhat' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/curhat">Curhat</a></li>
        <li class="nav-author {% if page.url contains 'shinchan' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/shinchan">Shinchan</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
